body {
  font-family: 'Roboto', sans-serif !important;
  padding-top: 70px;
}

a:focus, a:hover {
  background-color: #FFFFFF !important; 
}

.navbar-brand:focus, .navbar-brand:hover {
  color: #FFFFFF !important;
  background-color: #000000 !important;
}

.navbar {
  background-color: #000000;
  font-size:50;
  border-top: 6px solid black;
  border-bottom: 6px solid black;
  padding-top: 4px;
  padding-bottom: 4px;
  margin:0px;
}

.navbar li  a {
  color: #000000;
  background-color: #FFFFFF;
}

.navbar-brand {
  color:#FFFFFF;
  font-size:50;
  text-align: center;
  width: 400px;
}


.nav-pills {
  font-size:30;
  padding-top: 4px;
  padding-bottom: 4px;
}

.nav-pills a {
  background-color: #FFFFFF;
  color: #000000;
}

.active {
  background-color: #FFFFFF !important;
}

#sidebar {
  min-width: 400px;
  max-width: 400px;
  height:100%;
  float: left;
  border-bottom: 6px solid black;
  border-left: 6px solid black;
  border-right: 6px solid black;
}
/*
body {
  padding-top: 50px;
}
*/
#main {
  height:100%;
  overflow:auto;
}
